__MACOSX/._IDE-3D
__MACOSX/IDE-3D/._.DS_Store
__MACOSX/IDE-3D/._css
__MACOSX/IDE-3D/._images
__MACOSX/IDE-3D/._index.html
__MACOSX/IDE-3D/._js
__MACOSX/IDE-3D/css/._bootstrap-4.4.1.css
__MACOSX/IDE-3D/images/._.DS_Store
__MACOSX/IDE-3D/images/._local_editing_v2.png
__MACOSX/IDE-3D/images/._method_v8.png
__MACOSX/IDE-3D/images/._morphing.png
__MACOSX/IDE-3D/images/._style_mixing_trans_v2.png
__MACOSX/IDE-3D/images/._teaser_v11.png
__MACOSX/IDE-3D/images/._video-teaser_c.mp4
__MACOSX/IDE-3D/js/._bootstrap-4.4.1.js
__MACOSX/IDE-3D/js/._jquery-3.4.1.min.js
__MACOSX/IDE-3D/js/._popper.min.js
